/* body {
  background-color: lightpink;
}

h1 {
  color: red;
} */

/* .heading {
  color: red;
  background-color: blue;
}

#main-heading {
  color: green;
  background-color: yellow;
} */

h1 {
  background-color: lightsalmon;
  display: inline;
}

h3 {
  background-color: lightseagreen;
  display: inline;
}

p {
  /* display: block; */
display: inline;
  background-color: lightgreen;
}

a {
  /* display: inline; */
  display: block;
  background-color: red;
}



