p {
  /* background-color: lightgoldenrodyellow; */
}

h6 {
  font-size: 48px;
  font-weight: bold;
}

.text {
  background-color: blueviolet;
}

a {
  /* background-color: red; */
}

.links {
  background-color: red;
}

.content {
  /* background-color: gray; */
  color: blue;
}

.danger {
  background-color: black;
  color: white
}